<div class="container">
    <form action="">
        <div class="row col-sm-8 tournament-form">
            <div class="tournament-header col-12">
                <h1>Create Prize</h1>
            </div>
            <div class="col-sm-5 form-group">
                <label for="">Tournament Name</label>
                <input class="form-control" type="text">
                <label for="">Entry Fee</label>
                <input class="form-control" type="text">
                <label for="">Select Team</label>
                <a href=""> Create New</a>
            <input class="form-control" type="text">
            <button class="col-12">Add Team</button>
            <button class="col-12">Create Prize</button>
            </div>
            <div class="col-sm-7 form-group">
                <div class="row">
                    <label for="" class="col-12">Teams/Players</label>
                    <input class="col-7 form-control text-area" type="textarea">
                    <button class="delete-button col-3">Delete Selected</button>
                </div>
                
                <div class="row">
                    <label for="" class="col-12">Prizes</label>
                    <input class="col-7 form-control text-area" type="textarea">
                    <button class="delete-button col-3">Delete Selected</button>
                </div>
            
            
            
            </div>
            <button class="col-5 create-tournament">Create Tournament</button>
            
        </div>
      
    </form>
    
</div>
<app-add-team></app-add-team>