
.tournament-form{
    border: solid 2px black;
    padding: 0;
    padding-bottom: 20px;
}
.tournament-header{
    border-bottom: solid 3px black;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

.create-tournament{
    margin: 0 auto;
}

.delete-button{
    margin-left: 10px;
    display: inline-block;
}

.text-area{
    height:100px;
    margin: 0;
}