<div>
    <form action="">
        <div class="tournament-header">
            <h1>Create Tournament</h1>
        </div>
        <label for="">Tournament Name</label>
        <input type="text">
        <label for="">Entry Fee</label>
        <input type="text">
        <label for="">Select Team</label>
        <a href="">Create New</a>
        <input type="text">
        <button>Add Team</button>
        <button>Create Prize</button>
        <label for="">Teams/Players</label>
        <input type="textarea">
        <button>Delete Selected</button>
        <label for="">Prizes</label>
        <input type="textarea">
        <button>Delete Selected</button>
        <button>Create Tournament</button>
    </form>
</div>
